@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logining complete</title>
</head>
<body>
    <h1>Logining complete successfully</h1><br>
    @Html.ActionLink("Log in one more time", "LogIn")<br>
    @Html.ActionLink("Go to main", "Index")
</body>
</html>
