@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration complete</title>
</head>
<body>
    <h1>Registration complete successfully</h1><br>
    @Html.ActionLink("Registrate one more time", "Register")<br>
    @Html.ActionLink("Go to main", "Index")
</body>
</html>
